<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.capstoneproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_nawara"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_nawara_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CapstoneProject">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCqdbFEWGkHp3xvTJ2ghurydTBWn7htDK4" />
        <activity
            android:name=".ui.main.CallEmergencyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.signup.SignupActivity"
            android:exported="true" />
        <activity android:name=".ui.login.LoginActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.story.StoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splashscreen.SplashScreenActivity"
            android:exported="true"
            tools:node="merge">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.onboarding.OnBoardingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.AuthenticationActivity"
            android:exported="true" />
        <activity
            android:name=".ui.story.CommentsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.story.CreatePostActivity"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.capstoneproject.ui.story"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>